@model ssbbr.Data.RegisterForm

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h1>فعالسازی</h1>

<h3>آیا جهت فعالسازی شناسه زیر مطمئن هستید ؟</h3>
<div>
    @*<h4>RegisterForm</h4>*@
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            نام
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            نام خانوادگی
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lastname)
        </dd>
        <dt class = "col-sm-2">
            ایمیل
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            استان
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Province)
        </dd>
        <dt class = "col-sm-2">
            شهر
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            تلفن
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="فعالسازی" class="btn btn-danger" /> |
        <a asp-action="Index">بازگشت</a>
    </form>
</div>
