@model ssbbr.Data.RegisterForm

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h1>جزئیات</h1>

<div>
    <h4>فرم ثبت نام</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            نام
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            نام خانوادگی
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lastname)
        </dd>
        <dt class="col-sm-2">
            کد ملی
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NationalCode)
        </dd>
        <dt class="col-sm-2">
            موبایل
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mobile)
        </dd>
        <dt class="col-sm-2">
            تلفن ثابت
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            فکس
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fax)
        </dd>

        <dt class="col-sm-2">
            ایمیل
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            استان
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Province)
        </dd>
        <dt class="col-sm-2">
            شهرستان
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            سابقه همکاری با بنیاد
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resume)
        </dd>
        <dt class="col-sm-2">
            مسئولیت در اداره فرهنگ و ارشاد اسلامی
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Responsibility)
        </dd>

    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.id">Edit</a>*@ |
    <a asp-action="Index">بازگشت</a>
</div>
